<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="UTF-8">
  <title>Cylon.js + Express</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">   <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="css/ratchet.min.css"> <link rel="stylesheet" href="css/ratchet-theme-ios.min.css">
  <script src="js/ratchet.min.js"></script>
</head>  
<body>  
  <header class="bar bar-nav">
      <a class="icon icon-refresh pull-right"></a>
    <h1 class="title">Cylon.js + Express!</h1>
  </header>
  <div class="content">
    <ul class="table-view">
      <li class="table-view-cell"> 
        LED 13
        <div id="13" class="toggle">
          <div class="toggle-handle"></div>
        </div>
      </li>
    </ul>
  </div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <script src="js/main.js"></script>  
</body>  
</html>